.in{

    position:relative;
    top:0;
    z-index:10;
    color:white;
    width: auto;
}
.ctrl:hover{
    color:#2ec3d5
}
body{
color:white
}
span,div{

    top:0;
   z-index:10;
}
#main{
 position:relative;
    top:0;
    z-index:10;
    color:white;
}
#root{
    width : 20em;
}